* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 80%;
  /* background-color: red; */
  margin: 0 auto;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  background-color: beige;
}

.nav > li {
  margin-right: 1rem;
}

.nav > li > a {
  text-decoration: none;
  color: grey;
}

.nav > li > a:hover {
  text-decoration: underline;
}

/* create post page */
.create-post-container {
  display: flex;
  padding-top: 0.5rem;
}

.create-post {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 0.1rem solid grey;
  margin-right: 0.25rem;
}

.create-post h1 {
  font-size: 1.5em;
  text-align: center;
}

.form-field {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.8em 0 0.2em 0;
}

input {
  height: 3em;
  border: 0.1em solid #e1e1e1;
  border-radius: 0.4em;
  font-size: 0.8em;
  padding: 0 0.5em;
}

textarea {
  border: 0.1em solid #e1e1e1;
  height: 17em;
  font-size: 0.9em;
  padding: 0.5em;
}

.create-post-button {
  /* height: 2.1em; */
  background: #4caf50;
  color: #fff;
  font-size: 0.8em;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}

/* preview */
.preview-container {
  width: 50%;
  padding: 0 1rem 1rem 1rem;
}

.preview {
  border: 0.1em solid grey;
  border-radius: 0.5em;
  background-color: bisque;
  padding: 0.5em;
  margin-top: 0.8rem;
}

.preview-heading {
  font-size: 1.5em;
  text-align: center;
}

.blog-title {
  font-size: large;
}

.blog-subtitle {
  font-size: smaller;
}

hr {
  margin: 0.5em 0;
}

.blog-content {
  font-size: small;
}

/* Home page */
.home {
  text-align: center;
}
.post {
  border: 0.1em solid grey;
  margin: 1em 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post > a {
  text-decoration: none;
}

.post > a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* post detail */
.post-detail {
  border: 0.1em solid grey;
  border-radius: 0.5em;
  background-color: bisque;
  padding: 0.5em;
  margin-top: 0.8rem;
}

/* responsiveness */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .create-post-container {
    display: flex;
    flex-direction: column;
  }

  .create-post {
    width: 100%;
  }

  .preview-container {
    width: 100%;
  }

  .post-detail {
    margin: 0.8rem;
  }
}
